body {
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
    margin: 0;
    border: solid 10px #171616;
    min-height: 100vh;
}

form {
    margin: auto;
    background-color: #171616;
    width: 30vw;
    box-shadow: 10px 10px #2f2e2e;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #f0f0f0;
    text-align: center;
    margin-top: 3vh;
}

input {
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: black;
}