body {
    background-color: #f0f0f0;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
}

header {
    color: #f0f0f0;
    width: 100vw;
    height: 8vh;
    background-color: #171616;
    position: relative;
}

header div {
    height: 8vh;
    line-height: 8vh;
    font-size: 150%;
    font-weight: bold;
    margin-left: 5vh;
    position: absolute;
}

header button.logout {
    height: 8vh;
    width: 8vh;
    float: right;
    margin-right: 5vh;
    background-color: transparent;
    border: none;
    background-image: url("../immagini/logout.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}


header nav {
    color: #f0f0f0;
    height: 8vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header nav button {
    color: #f0f0f0;
    margin: 0;
    padding-right: 1vw;
    padding-left: 1vw;
    height: 4vh;
    line-height: 4vh;
    background-color: transparent;
    border: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header nav button.aggiunte {
    border-right: 1px solid #f0f0f0;
}

header nav button i {
    color: #f0f0f0;
    margin-left: 0.3vw;
}

button.collegamenti {
    margin: 5vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 23vh;
    width: 43vh;
    text-decoration: none;
    font-size: 100%;
    color: #f0f0f0;
    background-color: #171616;
    -webkit-box-shadow: 10px 10px #2f2e2e;
    box-shadow: 10px 10px #2f2e2e;
}

button.collegamenti img {
    height: 15vh;
    width: 15vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 2vw;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 6vh;
    background-color: #171616;
    width: 100vw;
    color: #f0f0f0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

footer div {
    height: 6vh;
    line-height: 6vh;
    margin-left: 5vh;
    margin-right: auto;
}

footer img {
    height: 4vh;
    width: 4vh;
    margin-right: 5vh;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

a:hover {
    color: #e0e0e0;
    text-decoration: none;
}

a:focus {
    color: #e0e0e0;
    text-decoration: none;
}

div.container-table {
    width: 85%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}


thead.dark {
    background-color: #171616;
    color: #f0f0f0;
}

i {
    margin-right: 1vw;
    color: black;
}

div.container-dati{
    display: inline-block;
    height: 92vh;
    width: 30%;
    margin: 0;
    float: left;
    position: relative;
}

div.dati{
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

div.dati h3{
    border-bottom: 1px solid black;
    padding-bottom: 4vh;
    font-weight: bold;
}

div.dati p{
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-size: large;
}

div.dati img{
    height: 70%;
    width: 70%;
}

div.container-giacenze{
    display: inline-block;
    height: 92vh;
    width: 70%;
    position: relative;
    float: right;
    margin: 0;
}

div.modal-body img{
    width: 100%;
}

